if SHIELD_BLACKHOLEERGO_LEFT

config ZMK_KEYBOARD_NAME
    default "BlackHoleErgo"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_BLACKHOLEERGO_LEFT

if SHIELD_BLACKHOLEERGO_LEFT || SHIELD_BLACKHOLEERGO_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_BLACKHOLEERGO_LEFT || SHIELD_BLACKHOLEERGO_RIGHT