// See https://zmk.dev/docs/development/hardware-integration/physical-layouts
// for how to configure this.

#include <physical_layouts.dtsi>

/ {
    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan>;

        // Edit this to define the positions and sizes of the keys, or remove it
        // if your keyboard will not support ZMK Studio.
        // https://zmk.dev/docs/development/hardware-integration/physical-layouts#optional-keys-property
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  226  227       0     0     0>
            , <&key_physical_attrs 100 100  790  568    2500   840   618>
            , <&key_physical_attrs 100 100 1242  568 (-2500)  1292   618>
            , <&key_physical_attrs 100 100 1806  227       0     0     0>
            , <&key_physical_attrs 100 100  526  153       0     0     0>
            , <&key_physical_attrs 100 100 1505  153       0     0     0>
            , <&key_physical_attrs 100 100  125  153       0     0     0>
            , <&key_physical_attrs 100 100  226  327       0     0     0>
            , <&key_physical_attrs 100 100  586  529    2500   636   579>
            , <&key_physical_attrs 100 100 1445  529 (-2500)  1495   579>
            , <&key_physical_attrs 100 100 1806  327       0     0     0>
            , <&key_physical_attrs 100 100 1906  153       0     0     0>
            , <&key_physical_attrs 100 100  326  301       0     0     0>
            , <&key_physical_attrs 100 100  627  328       0     0     0>
            , <&key_physical_attrs 100 100 1405  328       0     0     0>
            , <&key_physical_attrs 100 100 1706  301       0     0     0>
            , <&key_physical_attrs 100 100  526   53       0     0     0>
            , <&key_physical_attrs 100 100 1505   53       0     0     0>
            , <&key_physical_attrs 100 100  125   53       0     0     0>
            , <&key_physical_attrs 100 100  426   26       0     0     0>
            , <&key_physical_attrs 100 100 1606   26       0     0     0>
            , <&key_physical_attrs 100 100 1906   53       0     0     0>
            , <&key_physical_attrs 100 100  125  454       0     0     0>
            , <&key_physical_attrs 100 100 1906  454       0     0     0>
            , <&key_physical_attrs 100 100   25  454       0     0     0>
            , <&key_physical_attrs 100 100 2007  454       0     0     0>
            , <&key_physical_attrs 100 100    0  253       0     0     0>
            , <&key_physical_attrs 100 100  677  571    2500   727   621>
            , <&key_physical_attrs 100 100 1354  571 (-2500)  1404   621>
            , <&key_physical_attrs 100 100 2032  253       0     0     0>
            , <&key_physical_attrs 100 100  326    0       0     0     0>
            , <&key_physical_attrs 100 100 1706    0       0     0     0>
            , <&key_physical_attrs 100 100  226   26       0     0     0>
            , <&key_physical_attrs 100 100  426  427       0     0     0>
            , <&key_physical_attrs 100 100 1606  427       0     0     0>
            , <&key_physical_attrs 100 100 1806   26       0     0     0>
            , <&key_physical_attrs 100 100  326  401       0     0     0>
            , <&key_physical_attrs 100 100  426  327       0     0     0>
            , <&key_physical_attrs 100 100  426  127       0     0     0>
            , <&key_physical_attrs 100 100 1606  127       0     0     0>
            , <&key_physical_attrs 100 100 1606  327       0     0     0>
            , <&key_physical_attrs 100 100 1706  401       0     0     0>
            , <&key_physical_attrs 100 100  326  100       0     0     0>
            , <&key_physical_attrs 100 100 1706  100       0     0     0>
            , <&key_physical_attrs 100 100    0  153       0     0     0>
            , <&key_physical_attrs 100 100  735  263       0     0     0>
            , <&key_physical_attrs 100 100 1297  263       0     0     0>
            , <&key_physical_attrs 100 100 2032  153       0     0     0>
            , <&key_physical_attrs 100 100    0  353       0     0     0>
            , <&key_physical_attrs 100 100  326  200       0     0     0>
            , <&key_physical_attrs 100 100  627   53       0     0     0>
            , <&key_physical_attrs 100 100 1405   53       0     0     0>
            , <&key_physical_attrs 100 100 1706  200       0     0     0>
            , <&key_physical_attrs 100 100 2032  353       0     0     0>
            , <&key_physical_attrs 100 100  125  253       0     0     0>
            , <&key_physical_attrs 100 100  526  353       0     0     0>
            , <&key_physical_attrs 100 100 1505  353       0     0     0>
            , <&key_physical_attrs 100 100 1906  253       0     0     0>
            , <&key_physical_attrs 100 100  125  353       0     0     0>
            , <&key_physical_attrs 100 100  747  659    2500   797   709>
            , <&key_physical_attrs 100 100 1285  659 (-2500)  1335   709>
            , <&key_physical_attrs 100 100 1906  353       0     0     0>
            , <&key_physical_attrs 100 100    0   53       0     0     0>
            , <&key_physical_attrs 100 100  832  477    2500   882   527>
            , <&key_physical_attrs 100 100 1200  477 (-2500)  1250   527>
            , <&key_physical_attrs 100 100 2032   53       0     0     0>
            , <&key_physical_attrs 100 100  741  435    2500   791   485>
            , <&key_physical_attrs 100 100 1291  435 (-2500)  1341   485>
            , <&key_physical_attrs 100 100  226  127       0     0     0>
            , <&key_physical_attrs 100 100  627  178       0     0     0>
            , <&key_physical_attrs 100 100 1405  178       0     0     0>
            , <&key_physical_attrs 100 100 1806  127       0     0     0>
            , <&key_physical_attrs 100 100  526  253       0     0     0>
            , <&key_physical_attrs 100 100 1505  253       0     0     0>
            , <&key_physical_attrs 100 100  426  227       0     0     0>
            , <&key_physical_attrs 100 100 1606  227       0     0     0>
            , <&key_physical_attrs 100 100  226  427       0     0     0>
            , <&key_physical_attrs 100 100 1806  427       0     0     0>
            ;
    };
};
